$main-bg-color: #f7eef2;
$navbar-color: #413d66;
$add-navbar-color: #c44b7d;
$light-green-color: #ca7d94;
$dark-green-color: #a3a1c9;
$dark-gray-color: #39315c;
$Cards-color: #e9e3f3;
$extra-color: #644a68;
$book-year-color: #e9b74c;